body {
  margin: 0;
  text-align: center;
  background-color: #1a1a1a; 
  color: white; 
  
}

h1 {
  font-size: 64px;
  font-weight: 300;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 300;
}

h4 {
  font-weight: 300;
  text-align: left;
}

section.level4 p {
  text-align: left;
}

a {
  color: #52FFEE;
}

p {
  font-size:10pt;
}

ul, ol {
  text-align: left;
}

li {
  font-size:10pt;
  text-align: left;
}